@media screen and (max-width: 767px){ /* 모바일 */
  html:root {
    --swiper-navigation-size: 25px;
}
  section ul li .swiper-wrapper{flex-direction: row; align-items: center; flex-wrap: nowrap;}
  section ul li .swiper-container{overflow: hidden; width: 280px;}
  section ul li .swiper-container .swiper-wrapper img{margin: 0 auto; width: auto; max-width: 280px; max-height: 400px; display: block;}
  section ul li .detailPage.active > div:before{top: 15px; right: 15px; z-index: 99;}
  section ul li .detailPage.active > div.swiper_wrap{position: fixed; top: 50%; left: 50%; transform: translate3d(-50%,-50%,0); height: fit-content;}
  section ul li .detailPage.active > div.swiper-button-next{left: 92.5%; color: #fff; mix-blend-mode: difference;}
  section ul li .detailPage.active > div.swiper-button-prev{left: 3%; color: #fff; mix-blend-mode: difference;}
  .swiper-button-next, .swiper-button-prev{height: 10px;}
  section ul li .detailPage.active > div.swiper-button-next:before{display: none;}
  section ul li .detailPage.active > div.swiper-button-prev:before{display: none;}
  section ul li .detailPage.active > div:before{content: ''; clear: both; display: inline-block; position: fixed; top: -40px; right: 0px; width: 25px; height: 25px; border: 2px solid #141414; background: url("../images/_sub2/icon_cancle.png") no-repeat center center rgb(255, 255, 255); background-size: 90%;}
  
  .line1 li .thumbnail:hover:before{background: url("../images/ps_logo_01.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line2 li .thumbnail:hover:before{background: url("../images/ps_logo_02.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line3 li:nth-child(n+1):nth-child(-n+2) .thumbnail:hover:before{background: url("../images/ps_logo_04.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line3 li:nth-child(3) .thumbnail:hover:before{background: url("../images/ps_logo_13.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_07.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_08.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(3) .thumbnail:hover:before,.line5 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_09.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line5 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_10.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line5 li:nth-child(3) .thumbnail:hover:before,.line6 li:nth-child(n+1):nth-child(-n+2) .thumbnail:hover:before{background: url("../images/ps_logo_12.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line6 li:nth-child(3) .thumbnail:hover:before,.line7 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_14.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line7 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_11.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  } 

@media screen and (min-width: 768px) and (max-width: 1023px){ /* 태블릿 */
  section ul li .swiper-wrapper{flex-direction: row; align-items: center; flex-wrap: nowrap;}
  section ul li .swiper-container{overflow: hidden; width: 600px;}
  section ul li .swiper-container .swiper-wrapper img{margin: 0 auto; width: auto; max-width: 600px; max-height: 750px; display: block;}
  section ul li .detailPage.active > div:before{top: 15px; right: 15px; z-index: 99;}
  section ul li .detailPage.active > div.swiper_wrap{position: fixed; top: 50%; left: 50%; transform: translate3d(-50%,-50%,0); height: fit-content;}
  section ul li .detailPage.active > div.swiper-button-next{left: 92.5%; color: #fff; mix-blend-mode: difference;}
  section ul li .detailPage.active > div.swiper-button-prev{left: 4%; color: #fff; mix-blend-mode: difference;}
  section ul li .detailPage.active > div.swiper-button-next:before{display: none;}
  section ul li .detailPage.active > div.swiper-button-prev:before{display: none;}
  
  .line1 li .thumbnail:hover:before{background: url("../images/ps_logo_01.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line2 li .thumbnail:hover:before{background: url("../images/ps_logo_02.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line3 li:nth-child(n+1):nth-child(-n+2) .thumbnail:hover:before{background: url("../images/ps_logo_04.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line3 li:nth-child(3) .thumbnail:hover:before{background: url("../images/ps_logo_13.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_07.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_08.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(3) .thumbnail:hover:before,.line5 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_09.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line5 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_10.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line5 li:nth-child(3) .thumbnail:hover:before,.line6 li:nth-child(n+1):nth-child(-n+2) .thumbnail:hover:before{background: url("../images/ps_logo_12.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line6 li:nth-child(3) .thumbnail:hover:before,.line7 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_14.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line7 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_11.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
} 

@media screen and (min-width: 1024px){
  section ul li .swiper_wrap{width: 900px;}
  section ul li .swiper-wrapper{align-items: center; flex-wrap: nowrap;}
  section ul li .swiper-container{overflow: hidden;}
  section ul li .swiper-container .swiper-wrapper img{margin: 0 auto; width: auto; max-width: 800px; max-height: 800px; display: block;}
  section ul li .detailPage.active > div.swiper_wrap{position: fixed; top: 50%; left: 50%; transform: translate3d(-50%,-50%,0); height: fit-content;}
  section ul li .detailPage.active img{width: auto;}
  section ul li .detailPage.active > div.swiper-button-next{left: 73.5%; color: #fff; mix-blend-mode: difference;}
  section ul li .detailPage.active > div.swiper-button-prev{left: 25%; color: #fff; mix-blend-mode: difference;}
  
  .line1 li .thumbnail:hover:before{background: url("../images/ps_logo_01.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line2 li .thumbnail:hover:before{background: url("../images/ps_logo_02.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line3 li:nth-child(n+1):nth-child(-n+2) .thumbnail:hover:before{background: url("../images/ps_logo_04.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line3 li:nth-child(3) .thumbnail:hover:before{background: url("../images/ps_logo_13.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_07.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_08.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line4 li:nth-child(3) .thumbnail:hover:before,.line5 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_09.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line5 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_10.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line5 li:nth-child(3) .thumbnail:hover:before,.line6 li:nth-child(n+1):nth-child(-n+2) .thumbnail:hover:before{background: url("../images/ps_logo_12.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line6 li:nth-child(3) .thumbnail:hover:before,.line7 li:nth-child(1) .thumbnail:hover:before{background: url("../images/ps_logo_14.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
  .line7 li:nth-child(2) .thumbnail:hover:before{background: url("../images/ps_logo_11.png") rgba(0, 10, 255, 0.9) no-repeat center center;;}
} 
/* 
@media screen and (min-height: 500px) and (max-height: 810px){
  section ul li .swiper_wrap{width: 650px;}
  section ul li .swiper-container .swiper-wrapper img{max-width: 500px; max-height: 500px;}
} */

