@media screen and (max-width: 480px){ /* 모바일 */
main .sub7_title{position: absolute; top: 50%; left: 50%; z-index: 99; transform: translateX(-50%) translateY(-50%); opacity: 0; transition-duration: 1s;}
main .sub7_title img{width: 100%;}
main .sub7_title.active{top: 28%; left: 50%; transform: translateX(-50%);}
main .next{position: absolute; bottom: 35%; left: 50%; transform: translateX(-50%); display: flex; align-items: center; justify-content: center; min-width: 200px; width: 55%; min-height: 40px; height: 7.5%; border-radius: 100px; background-color: transparent; border: 1px solid #000aff; color: #000aff; opacity: 0; transition-duration: 0.3s;}
main .next2{bottom: 26%;}
main .next3{bottom: 17%;}
main .next:hover{background-color: #000aff; color: #fff;}
main p{padding-bottom: 0px; font-size: 2.5rem; letter-spacing: -2px;}
/* sub7 fin */
}

@media screen and (min-width: 768px) and (max-width: 1023px){ /* 태블릿 */
main .sub7_title{position: absolute; top: 50%; left: 50%; z-index: 99; transform: translateX(-50%) translateY(-50%); opacity: 0; transition-duration: 1s;}
main .sub7_title img{width: 100%;}
main .sub7_title.active{top: 28%; left: 50%; transform: translateX(-50%);}
main .next{position: absolute; bottom: 38%; left: 50%; transform: translateX(-50%); display: flex; align-items: center; justify-content: center; min-width: 250px; width: 45%; min-height: 50px; height: 6.6%; border-radius: 100px; background-color: transparent; border: 1px solid #000aff; color: #000aff; opacity: 0; transition-duration: 0.3s;}
main .next2{bottom: 29%;}
main .next3{bottom: 20%;}
main .next:hover{background-color: #000aff; color: #fff;}
main p{padding-bottom: 0px; margin-left: 30px; font-size: 3.0rem;}
/* sub7 fin */
}

@media screen and (min-width: 1024px){ /* PC */
main .sub7_title{position: absolute; top: 50%; left: 50%; z-index: 99; transform: translateX(-50%) translateY(-50%); opacity: 0; transition-duration: 1s;}
main .sub7_title img{width: 100%;}
main .sub7_title.active{top: 28%; left: 50%; transform: translateX(-50%);}
main .next{position: absolute; bottom: 34.5%; left: 50%; transform: translateX(-50%); display: flex; align-items: center; justify-content: center; min-width: 250px; width: 16.5%; min-height: 50px; height: 6.6%; border-radius: 100px; background-color: transparent; border: 1px solid #000aff; color: #000aff; opacity: 0; transition-duration: 0.3s;}
main .next2{bottom: 26%;}
main .next3{bottom: 17.5%;}
main .next:hover{background-color: #000aff; color: #fff;}
main p{padding-bottom: 0px; font-size: 3.0rem;}
/* sub7 fin */
}

